@CHARSET "UTF-8";

#container{
	max-width: 1128px;
	max-height: 800px;
	margin: auto 0;
	float: center;
	display: block;
	border: thin;
	border-radius:7px;
}

#cabecalho{
	width: 1024px;
	text-align: center;
	vertical-align: top;
	float: center;
	display: block;
	border: thin;
	border-radius:7px;
}

.container{
	max-width: 1128px;
	max-height: 800px;
	margin: auto 0;
	float: center;
	display: block;
	border: thin;
	border-radius:7px;
}

.top{
	width: 1024px;
	text-align: center;
	vertical-align: top;
	float: center;
	display: block;
	border: thin;
	border-radius:7px;
}